<wipeout-docs.view-models.components.versioned version="2.1">
    <content-template>
        <h1>The Foreach attribute</h1>
        <h3><code>wo-foreach="value"</code></h3>
        <h3><code>data-wo-foreach="value"</code></h3>
        <p>The foreach attribute renders the content of an element only if the content of the attribue evaluates to true.</p>
        <p>The <code>foreach</code> attribute wraps an <wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=wo-list-control'" text="'list view model'"></wipeout-docs.rl>, which can be used if you also need to define a more complex template.</p>
        <wipeout-docs.view-models.components.new-template-code-block new-script-id="'wo-foreach-attr'" highlight--s="wo-foreach">
            <code parser="s">&lt;wo.content model="['Item 1', 'Item 2']">
    &lt;set-template>
        &lt;ul wo-foreach="$model">
            &lt;li wo-content="$model + ', index: ' + $index.value">&lt;/li> 
        &lt;/ul>
    &lt;/set-template>
&lt;/wo.content></code>
        </wipeout-docs.view-models.components.new-template-code-block>

        <wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
            <code parser="s">&lt;wo.view template-id="'wo-foreach-attr'">&lt;/wo.view></code>
        </wipeout-docs.view-models.components.usage-code-block> 
    </content-template>
</wipeout-docs.view-models.components.versioned>