<wipeout-docs.view-models.components.versioned version="2.1">
    <content-template>
        <h1>Working with lists</h1>

        <p>The simplest way to handle lists is with the <wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=wo-foreach'" text="'foreach'"></wipeout-docs.rl> attribute. Foreach creates a new view model for each item in the attribute and adds the item as the model of the created view model.</p>
        <wipeout-docs.view-models.components.new-template-code-block new-script-id="'working-with-lists-example-1'" highlight--s="wo-foreach">
            <code parser="s">&lt;wo.content model="['Item 1', 'Item 2']">
    &lt;set-template>
        &lt;ul wo-foreach="$model">
            &lt;li wo-content="$model + ', index: ' + $index.value">&lt;/li> 
        &lt;/ul>
    &lt;/set-template>
&lt;/wo.content></code>
        </wipeout-docs.view-models.components.new-template-code-block>

        <wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
            <code parser="s">&lt;wo.view template-id="'working-with-lists-example-1'">&lt;/wo.view></code>
        </wipeout-docs.view-models.components.usage-code-block> 
        <p>The <code>foreach</code> attribure wraps the <wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=wo-list-control'" text="'wo.list'"></wipeout-docs.rl> view model which can handle more complex situations.</p>
    </content-template>
</wipeout-docs.view-models.components.versioned>